$gulp-blue: #3a455d;
$white: #ffffff;

body {
  background-color: $gulp-blue;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

h1 {
  color: $white;
}
