$gulp-blue: #3a455d;
$white: #ffffff;
$athens-gray: #eef1f3;
$athens-gray-dark: #dcdfe1;
$limeade: #75b800;

body {
  margin: 0;
  height: 100vh;
  background-color: $gulp-blue;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

@import "timer";

.token-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -50px;
  width: 200px;
  height: 100px;
  text-align: center;
  line-height: 100px;

  background-color: green;

  .token {
    margin: 0;
  }

  .secret {
    display: none;
  }
  .error {
    display: none;
    color: #e16057;
  }
}
